body {
    background-color: #ffffff !important;
}

#welcomedash {
    font-weight: 800;
    font-size: 64px;
    line-height: 174.27px;
    color: #343A40;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    #headerTitle {
        font-size: 24px;
    }

    .col.inline-block {
        width: 100%;
        /* Full width for smaller screens */
    }
}

@media (max-width: 576px) {
    #headerTitle {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    #line-chart-container {
        width: 100%;
        height: auto;
        /* Allow the container to expand to fit the chart */
    }

    #line-chart {
        width: 100%;
        height: auto;
        /* Allow the chart to resize with the container */
    }
}