<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
    
</head>

<body>
    {% include 'components/navbar.html' %}  
    {% include 'components/sideBar.html' %}

        <!-- 
        <h2>Welcome to the Dashboard</h2>
        Add your dashboard content here -->
        <div class="container">
            <h2>Welcome to the Dashboard</h2>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <p>Welcome to DolFin - Page One.</p>
              </div>
              <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Welcome to DolFin - Page Two.</p>
              </div>
              <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Welcome to DolFin - Page Three.</p>
              </div>
              <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Welcome to DolFin - Page Four.</p>
              </div>
            </div>
          </div>

    {% include 'components/footer.html' %}
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
