<!DOCTYPE html>
<html lang="en">
<head>
<title>DoIFin Analytica - Data Insights & Analytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">DoIFin Analytica</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Services</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Solutions</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Case Studies</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact Us</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Blog</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">About Us</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Navigation</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Data Services</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Analytics Solutions</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Client Testimonials</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Industry Insights</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Welcome to DoIFin Analytica</h1>
      <p>At DoIFin Analytica, we specialize in transforming complex data into actionable insights. Our team of experts leverages cutting-edge analytics and machine learning techniques to deliver tailored solutions that drive business growth and efficiency.</p>
    </div>
    <div class="w3-third w3-container">
      <!-- Placeholder for any additional content or ads -->
    </div>
  </div>

  <!-- Additional content sections can be added here -->

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>DoIFin Analytica</h4>
      <p>Empowering businesses with data-driven decision making.</p>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Sidebar and overlay script
</script>

</body>
</html>