<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&display=swap');
</style>

<body>
    <footer class="footer mb-0">
        <div class="inner-content">
            <div class="center-content">
                <h5><a class="terms-link" href="/terms-of-use"> About Us </a></h5>
                <h5 ><a class="termsai-link" href="/terms-of-use-ai"> Contact Us </a></h5>
                <h5 ><a class="terms-link" href="/terms-of-use">Terms of Use</a></h5>
                <h5><a class="termsai-link" href="/terms-of-use-ai">Disclaimer on use of Artificial Intelligence Predictions in DolFin</a></h5>
            </div>
            <div class="outer-content">
                <h6 style="margin: 0;"> ©2023 DolFin - All Rights Reserved</h5>
            </div>
        </div>
    </footer>

<script src="https://kit.fontawesome.com/990e4fd28f.js" crossorigin="anonymous"></script>



</body>

