body {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23464df3' fill-opacity='0.16'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    max-height: 100vh !important;
    /* max-width: 100vw !important; */
    font-size: 1.6rem;
}

/* graphics in header */
.backGroundImage {
    width: 1920px;
    height: 600px;
    opacity: 0.99;
    padding-top: 100px;
    padding-left: 300px;
    z-index: -3;
}

/* title text */
.dashboardTitle {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 1000px;
    width: 1900px;
    z-index: 1;
}

/* drop shadow for title text */
.dashboardTitle-dropShadow {
    position: absolute;
    left: 40%;
    opacity: 20%;
    top: -15%;
    height: 1000px;
    width: 1900px;
    z-index: 1;
}

/* transparent shape over header */
#trans-title-rectangle{
    background: #BAC1C1;
    backdrop-filter:blur(20px) brightness(110%);
    opacity: 52%;
    position: absolute;
    width: 1920px;
    height: 240px;
    border-radius: 20px 20px 0px 0px;
    top: 54%;
    z-index: 2;
}

/* transparent shape behind body */
#trans-body-rectangle{
    background: #BAC1C1;
    backdrop-filter:blur(20px) brightness(110%);
    opacity: 52%;
    position: absolute;
    width: 1920px;
    height: 590px;
    border-radius: 0px;
    top: 79.6%;
    z-index: -1;
}

/* current balance backing */
#rectangle-balance{
    width: 1800px;
    height: 80px;
    background: #FFFFFF;
    opacity: 100%;
    display: flex; 
    align-items: end;
    top: 79.7%;
    left: 1.5%;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
    bottom: 0px;
    overflow: hidden;
}

/* pie-charts-backing */
#rectangle-pie-charts{
    width: 1800px;
    height: 470px;
    background: #FFFFFF;
    opacity: 100%;
    display: flex; 
    align-items: end;
    top: 90%;
    left: 1.5%;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
    bottom: 0px;
    overflow: hidden;
}

/* responsiveness */
@media screen and (max-width: 768px) {
    .dashboardTitle {
        position: absolute;
        left: 0%;
        top: 20%;
        height: 300px;
        width: 450px;
        z-index: 1;
    }

    .dashboardTitle-dropShadow {
        position: absolute;
        left: 40%;
        opacity: 20%;
        top: 15%;
        height: 300px;
        width: 500px;
        z-index: 1;
    }

    .backGroundImage {
        width: 768px;
        height: 200px;
        opacity: 0.99;
        padding-top: 0px;
        padding-left: 0px;
        z-index: -3;
    }

    #trans-body-rectangle{
        background: #BAC1C1;
        backdrop-filter:blur(20px) brightness(110%);
        opacity: 52%;
        position: absolute;
        width: 300px;
        height: 590px;
        border-radius: 0px;
        top: 52.2%;
        z-index: -1;
    }

    #trans-title-rectangle{
        background: #BAC1C1;
        backdrop-filter:blur(20px) brightness(110%);
        opacity: 52%;
        position: absolute;
        width: 450px;
        height: 75px;
        border-radius: 20px 20px 0px 0px;
        top: 41%;
        z-index: 2;
    }
}

@media screen and (max-width: 480px) {
    #rectangle-pie-charts {
        width: 90%;
        left: 5%;
        height: 500px;
        top: 85%;
    }

    #rectangle-balance {
        width:300px;
        left: 5%;
        height: 500px;
        top: 40%;
    }
    
}

@media screen and (max-width: 320px) {
    #rectangle-pie-charts {
        width: 90%;
        left: 5%;
        height: 200px;
        top: 55%;
    }

    #rectangle-balance {
        width: 90%;
        left: 5%;
        height: 200px;
        top: 23%;
    }

}