.inner-content {
    background-color: #343A40;
    height: 30vh;
    color: #FAFAFE;
}

.content {
    display: flex;
    padding-top: 30px;
}

.content-left {
    width: 50%;
    padding-right: 10%;
}

.content-right {
    width: 50%;
}

.content-right-h {
    text-align: center;
}

.content-left-h {
    text-align: center;
}

.left-content-p {
    text-align: center;
    display: flex;
    justify-content: center; /* Center content horizontally */
    margin: 0;
}

.custom-truncate-four-lines {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    overflow-y: auto;
}

.outer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: #232628;
    color: #FAFAFE;
}

hr {
    border: 0;
    height: 5px;
    background-color: white; 
    border-radius: 5px;
}

.footer-content-ul {
    list-style: none;
    padding-left: 7rem;
}

.center-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.terms-link {
    text-decoration: none !important;
    color: #FAFAFE;
    font-size: clamp(1rem, 1.5vw, 2rem);
}



.terms-link:hover {
    text-decoration: none !important;
    color: #0077BB;
}

.termsai-link {
    text-decoration: none !important;
    color: #FAFAFE;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.termsai-link:hover {
    text-decoration: none !important;
    color: #0077BB;
}

