/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Add CSS styles here or link an external stylesheet */
/* Include the CSS code provided earlier for the footer */
.footer {
    /* Add the styles for the footer */
    /* ... */
    background-image: url('https://img.freepik.com/premium-photo/blue-orange-bird-sits-pink-flowered-bush_865967-629060.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699833600&semt=ais');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #343A40;
    color: paleturquoise;
    padding: 30px 0;
    text-align: center;
    /* Other styles */
}

.inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-content {
    margin-bottom: 20px;
}

.terms-link,
.termsai-link {
    text-decoration: none;
    color: paleturquoise;
    margin: 8px 0;
    display: block;
    transition: color 0.3s ease;
}

.terms-link:hover,
.termsai-link:hover {
    color: #0077BB;
}

.outer-content {
    margin-top: 20px;
}

.outer-content h5 {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 0.5px;
}

/* Media Queries for Responsive Design */
@media screen and (min-width: 768px) {
    .inner-content {
        flex-direction: row;
        justify-content: space-around;
    }

    .center-content {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terms-link,
    .termsai-link {
        margin: 0 10px;
    }
}