/* CSS for the sliding animation */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #f2f2f2; /* smoke background */
}
.content {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 0.8s ease-in-out forwards;
    padding: 20px;
    max-width: 300px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Form styles */
h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
h2 {
    color: #555;
    margin-top: 20px;
    font-size: 14px;
}
h2 span {
    color: #0372B2;
    cursor: pointer;
}