/* News Page */

* {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 230vh;
}

#mainBody {
    flex: 1;
}

#headerSection {
    background-image: none;
}

#headerGreeting {
    font-size: 2.5vw;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 2vw;
    top: 12vh;
}

#headerTitle {
    font-size: 20vw;
    font-family: 'Impact';
    font-weight: bold;
    font-style: italic;
    color: black;
    position: absolute;
    left: 1vw;
    top: 12vh;
    letter-spacing: 0.5vw;
    text-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.5);
    animation: slideInLeft 1s ease-in-out;
}

#headerTitleShadow {
    font-size: 20vw;
    font-family: 'Impact';
    font-weight: bold;
    font-style: italic;
    color: black;
    position: absolute;
    left: 42vw;
    top: 3vh;
    opacity: 0.5;
    letter-spacing: 0.5vw;
    text-shadow: 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.5);
    animation: slideInLeft 1s ease-in-out;
}

/* Keyframe animation for the title to slide-in from the left */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Grey BG Rectangle */
#rectangle {
    width: 100%;
    height: 190%;
    background-color: grey;
    opacity: 0.2;
    position: absolute;
    top: 33vh;
    left: 0;
}

.navbar-btn {
    position: relative;
    overflow: hidden;
    border: #fff;
    border-radius: 10px;
}

#custom-navbar {
    position: absolute;
    top: 52%; 
    left: 0%; 
    z-index: 1000; 
}

/* Make buttons overlap halfway with each other */
#navbar-nav-item {
    margin-right: -9%;
}

/* Custom size buttons */
.btn-xl {
    padding: 6% 3%;
    font-size: 1.5rem;
}

#btn-primary,
#btn-success,
#btn-danger,
#btn-next {
    width: 200px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
}

#btn-primary:hover,
#btn-success:hover,
#btn-danger:hover,
#btn-next:hover {
    animation: wobble 0.5s ease infinite;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}

@keyframes wobble {
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Custom button colors */
#btn-primary {
    background-color: #1c82c6;
    border-color: #1c82c6;
    color: white;
}

#btn-success {
    background-color: #fff;
    border-color: #fff;
    color: black;
}

#btn-danger {
    background-color: #cdcecf;
    border-color: #cdcecf;
    color: black;
}

#btn-next {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    color: black;
}

/* Position the button slightly higher */
.pressed-btn {
    margin-top: -15%;
  }

/* GRID */
.custom-container {
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    display: flex;
    justify-content: center;
}
  

/* CARDS */
.card {
    color: #FAFAFE !important;
    background-color: #343A40;
    border-radius: 15px;
    will-change: auto;
    transition: transform cubic-bezier(.155, 1.105, .295, 1.12);
    animation: appear 1s ease-in-out 1 both;
}

@keyframes appear{
    from{
        opacity: 1;
        transform: translateX(-100%) 
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

#cards:hover{
    transform: scale(2);
}

#articleTitle {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 2%;
}

#readButton {
    margin-top: 0%;
    padding: 10px;
    color: #FAFAFE;
    /* border-radius: 10%; */
    background-color: #0077BB;
}

.columnSpace {
    margin-top: 50px;
    margin-bottom: 50px;
}

.show-card {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hide-card-default {
    display: none;

}

#mainNewsColumns {
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#articleLink{
    text-decoration: none;
    color: #FAFAFE;
}

.card-title-text-custom-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-text-custom-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Add a media query to override the Bootstrap classes for smaller screens */
@media (max-width: 767px) {
    #custom-navbar {
        position: absolute;
        top: 20%;
        left: -10%;
    }
    #custom-navbar .navbar-collapse {
      display: flex !important;
      justify-content: space-between;
    }
    #custom-navbar .navbar-toggler {
      display: none;
    }
    #custom-navbar .navbar-nav {
      flex-direction: row;
    }
    #custom-navbar .nav-item {
      margin-right: -13%; /* Adjust the spacing between buttons */
    }
    #custom-navbar .btn {
      font-size: 0.8rem; /* Adjust the font size of the buttons */
      padding: 0.2rem 0.5rem; /* Adjust the padding of the buttons */
      width: 80px; /* Set a specific width for the buttons */
    }
}

/* Add a media query to override the Bootstrap classes for tablet screens */
@media (min-width: 768px) and (max-width: 1024px) {
    #custom-navbar {
        position: absolute;
        top: 30%;
        left: -5%;
    }
    #custom-navbar .navbar-collapse {
      display: flex !important;
      justify-content: space-between;
    }
    #custom-navbar .navbar-toggler {
      display: none;
    }
    #custom-navbar .navbar-nav {
      flex-direction: row;
    }
    #custom-navbar .nav-item {
      margin-right: -8%; /* Adjust the spacing between buttons */
    }
    #custom-navbar .btn {
      font-size: 1.8rem; /* Adjust the font size of the buttons */
      padding: 1.2rem 2.5rem; /* Adjust the padding of the buttons */
      width: 200px; /* Set a specific width for the buttons */
    }
}