body {
    background-image: url("/Users/amen/Desktop/Dolfin/Neo_Dolfin/neo_dolfin/static/img/bg-img.png"); /* Your existing SVG background */
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    background-color: #FAFAFE;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



.signup_bg {
    height: 755px;
    opacity: 0.7; 
    margin-top: 25px;
}

.Title_signup {
    width: 300px;
    height: auto;
    margin-top: 10px;
    text-align: center; 
    font-weight: bold;
    color: #000;
}

.style {
    height: auto;
    opacity: 0.9; 
    margin-top: -80px;
}

.text_bg {
    position: absolute;
    top: 270px;
    width: 600px;
    height: 310px;
    background: rgba(238, 236, 236, 0.7); 
    box-shadow: 5px 6px 20px 0px rgba(0, 0, 0, 0.25); 
    backdrop-filter: blur(15px);
    border-radius: 50px; 
    display: flex;
}


.container_right, .container_left {
    position: relative;
    margin: 0 auto; 
    color: #FFF;
}


.text_mid {
    color: black;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 24px; 
    font-weight: 400;
    padding-top: 50px; 
}
.top-right-image {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 900px; 
    height: 600px; 
    z-index: 0; 
}
@media (max-width: 768px) {
    .top-right-image {
        width: 50px; 
    }
}

.text_top {
    position: absolute;
    top: 150px;
    color: #FFF;
    font-family: 'Arimo Hebrew Subset Italic', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}

.dolfin {
    position: absolute;
    top: 600px;
    left: 500px;
    width: 150px;
    transform: translateY(-80%); 
}

.Subtitle {
    color: #AEAEAE;
    text-align: center;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 0.8em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.input_area {
    position: relative;
    background: rgba(220, 231, 235, 0.44); 
    padding: 40px;
    box-shadow: 5px 6px 20px 0px rgba(0, 0, 0, 0.25); 
    border-radius: 50px;
    backdrop-filter: blur(40.7px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    max-width: 55%; 
    margin-left: auto; 
    margin-right: auto; 
}

body, html {
    height: 100%; 
}

.container-fluid {
    position: relative; 
    min-height: 100%; 
}


.text-under-container {
    position:absolute;
    color: #585858; 
    font-family: 'Anek Gujarati', sans-serif; 
    padding: 20px; 
    padding-top: 490px;
    margin-left: 470px;
    text-align: center; 
    font-size: 20px; 
}






input[type="text"],
input[type="email"],
input[type="password"] {
    font-family: 'Anybody', sans-serif;
    color: rgba(12, 12, 12, 0.30);
    font-size: 22px;
    font-weight: 700;
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

input[type="submit"] {
    width: 40%;
    padding: 5px;
    font-size: 0.7em;
    border: none;
    border-radius: 5px;
    background-color: #0077BA;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 90px; 
    margin-right: center; 
}

.or-text {
    text-align: center;
    margin-top: 20px;
    color: #000;
    font-family: 'Anybody', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-google, .btn-microsoft {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(29, 28, 28);
    font-size: 0.5em;
    font-weight: bold;
    margin: 5px 0;
    white-space: nowrap;
    position: relative;
    width: 135%;
}

.btn-logo {
    position: absolute; 
    left: 10px; 
    height: 20px; 
    width: 20px; 
}


.btn-google, .btn-microsoft {
    padding-left: 40px; 
}







@media (min-width: 992px) and (max-width: 1903px) {
   
}

@media (min-width: 768px) and (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .display_right, .signup_bg, .style, .text_bg, .container_right, .dolfin {
        display: none;
    }

    
}