/* Navbar */

.navbar {
    padding: 8px 10px; /* You can adjust these values as needed */
}

.nav-logo {
    width: 4.65rem;
    padding-right: 8px;
}

.navbar-brand {
    font-family: 'Inter', sans-serif !important;
    font-weight: bold;
    font-size: 30px;
}

.bg-dark {
    background-color: #343a40 !important;
}

.navbar-nav {
    flex-direction: row !important; 
}

.nav-item {
    font-weight: bold;
}

.nav-link {
    color: #FAFAFE;
}

.nav-link:hover {
    background-color: rgb(237, 39, 0);
    border-bottom: 2px solid #9fbb00;
}

/* Active state for the entire list item */
.nav-item.active {
    background-color: #0077BB;
    border-radius: 2px; /* Add rounded corners */
    padding: 8px 15px; /* Adjust padding as needed */
}




