<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&display=swap');
</style>

<footer class="footer mb-0">
    <div class="inner-content">
        <div class="container-fluid">
            <div class="content">
                <div class="content-left">
                    <h1 class="content-left-h">About Us</h1>
                    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
                    <p class="left-content-p custom-truncate-four-lines">
                        DolFin is a Fintech solution that addresses the issue of people struggling to keep track of
                        their finances, the difficulties and costs associated with obtaining financial advice, banks
                        acting monopolistically and traditional banking not serving people equally.
                    </p>
                </div>
                <div class="vr"></div>
                <div class="content-right">
                    <h1 class="content-right-h">Contact Us</h1>
                    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
                    <ul class="footer-content-ul custom-truncate-four-lines2">
                        <li><i class="fa-solid fa-phone" style="padding-right: 10px;"></i>Phone: (03) XXXX - XXXX</li>
                        <li><i class="fa-solid fa-envelope" style="padding-right: 10px;"></i>Email: info@dolfin.com.au
                        </li>
                        <li><i class="fa-solid fa-address-book" style="padding-right: 10px;"></i>Address: 221 Burwood
                            Hwy, Burwood VIC 3125</li>
                    </ul>
                </div>

            </div>
            <div class="center-content">
                <h5><a class="terms-link" href="/terms-of-use">Terms of Use</a></h5>
                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                </p>
                <h5><a class="termsai-link" href="/terms-of-use-ai">Disclaimer on use of Artificial Intelligence
                        Predictions in DolFin</a></h5>
            </div>
        </div>
    </div>

    <div class="outer-content">
        <h5 style="margin: 0;"> ©2023 DolFin - All Rights Reserved</h3>
    </div>
</footer>

<script src="https://kit.fontawesome.com/990e4fd28f.js" crossorigin="anonymous"></script>