<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&display=swap');
</style>

<body>
    <footer class="footer mb-0">
        <div class="inner-content">
            <div class="center-content">
                <h5><a class="terms-link" href="/terms-of-use"> About Us </a></h5>
                <h5 ><a class="termsai-link" href="/terms-of-use-ai"> Contact Us </a></h5>
                <h5 ><a class="terms-link" href="/terms-of-use">Terms of Use</a></h5>
                <h5><a class="termsai-link" href="/terms-of-use-ai">Disclaimer on use of Artificial Intelligence Predictions in DolFin</a></h5>
            </div>
    
            
                        <!-- Social Media Icons -->
            <div class="social-media-icons">
                <p style="margin-left: -940px;" class="copyright"> ©2023 DolFin - All Rights Reserved</p>
                <p>Follow us: </p>
                <a href="your-twitter-url" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="your-facebook-url" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="your-instagram-url" class="instagram"><i class="fab fa-instagram"></i></a>
                <!-- Add more icons as needed -->
            </div>
        </div>

   

    </footer>

<script src="https://kit.fontawesome.com/990e4fd28f.js" crossorigin="anonymous"></script>



</body>