<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DolFin - News</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/news.css')}}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&display=swap');
  </style>
</head>

<body>
  <!-- IMPLEMENT NAV BAR HERE -->
  {% include 'components/navbar.html' %}


  <div id="mainBody">

    <div id="headerSection" class="p-5">
      <div id="headerGreeting" class="display-1 text-left ">Welcome Back!</div>
      <div id="headerTitle" class="display-1 text-left ">NEWS</div>
      <div id="headerTitleShadow" class="display-1 text-left ">NEWS</div>
    </div>

    <div id="rectangle"></div>

    <div id="mainNewsColumns" class="container">

      <!-- Navigation Bar -->
      <nav id="custom-navbar" class="navbar navbar-expand-lg navbar-light bg-grey">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li id="navbar-nav-item" class="nav-item">
              <a class="nav-link" href="#">
                <button id="btn-primary" class="btn btn-primary navbar-btn btn-xl" onclick="filterSelection('archive')">Archive</button>
              </a>
            </li>
            <li id="navbar-nav-item" class="nav-item">
              <a class="nav-link" href="#">
                <button id="btn-success" class="btn btn-success navbar-btn btn-xl pressed-btn" onclick="filterSelection('all')">All</button>
              </a>
            </li>
            <li id="navbar-nav-item" class="nav-item">
              <a class="nav-link" href="#">
                <button id="btn-danger" class="btn btn-danger navbar-btn btn-xl" onclick="filterSelection('june')">June</button>
              </a>
            </li>
            <li id="navbar-nav-item" class="nav-item">
              <a class="nav-link" href="#">
                <button id="btn-next" class="btn btn-next navbar-btn btn-xl" onclick="filterSelection('july')">July</button>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container custom-container mt-4">
        <!-- First Row with Two Boxes -->
        <div class="row mt-4">
          <div class="col box">
            <div class="card border-0 shadow hide-card-default" style="width: 22rem;" data-category="june">
              <a id="articleLink" href="/articleTemplate/1">
                <div class="ratio ratio-16x9">
                  <img class="card-img-top rounded-top img-fluid" src="/static/img/article1_cover.jpg"
                    alt="https://images.unsplash.com/photo-1553729459-efe14ef6055d">
                </div>
                <div class="card-body" style="height: 200px;">
                  <h5 id="articleTitle" class="card-title card-title-text-custom-truncate">Top 5 common bad saving habits</h5>
                  <p id="articleText" class="card-text card-text-custom-truncate">When it comes to saving money, it is
                    important to have
                    good habits.
                    Unfortunately, many people fall into bad habits. Here are the top 5 common bad savings habits:</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-content-center">
                  <div class="container">
                    <div class="row mb-2">
                      <div class="col-6 ps-0">
                        <a id="readButton" href="/articleTemplate/1" class="btn btn-primary">Read more</a>
                      </div>
                      <div class="col-6 pt-2 text-end pe-3">
                        <p class="h5">10/06/23</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col box">
            <div class="card border-0 shadow hide-card-default" style="width: 22rem;" data-category="june">
              <a id="articleLink" href="/articleTemplate/2">
                <div class="ratio ratio-16x9">
                  <img class="card-img-top rounded-top" src="/static/img/article3_cover.jpg"
                    alt="https://plus.unsplash.com/premium_photo-1676637656277-498f73258bec">
                </div>
                <div class="card-body" style="height: 200px;">
                  <h5 id="articleTitle" class="card-title card-title-text-custom-truncate">Learn what our AI has found
                    about
                    saving</h5>
                  <p id="articleText" class="card-text card-text-custom-truncate">Learning about saving from historical
                    data
                    can be a great way to make smarter decisions when it comes to your finances.
                    Our AI has found that by looking at past trends and data, you can better understand how to save and
                    invest your money
                    for the future.</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-content-center">
                  <div class="container">
                    <div class="row mb-2">
                      <div class="col-6 ps-0">
                        <a id="readButton" href="/articleTemplate/2" class="btn btn-primary">Read more</a>
                      </div>
                      <div class="col-6 pt-2 text-end pe-3">
                        <p class="h5">08/06/23</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    
        <!-- Second Row with Two Boxes -->
        <div class="row mt-4">
          <div class="col box">
            <div class="card border-0 shadow hide-card-default" style="width: 22rem;" data-category="july">
              <a id="articleLink" href="/articleTemplate/3">
                <div class="ratio ratio-16x9">
                  <img class="card-img-top rounded-top" src="/static/img/article2_cover.jpg"
                    alt="https://images.unsplash.com/photo-1481223014211-199b3e8f0002">
                </div>
                <div class="card-body" style="height: 200px;">
                  <h5 id="articleTitle" class="card-title card-title-text-custom-truncate">What is your age group of
                    people
                    spending their money on?</h5>
                  <p id="articleText" class="card-text card-text-custom-truncate">It is important to look at the
                    demographic
                    factors that are
                    influencing spending patterns. Generally speaking, those
                    between the ages of 25 and 44 are more likely to have higher disposable incomes and, as such, are more
                    likely to be
                    spending their money on items</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-content-center">
                  <div class="container">
                    <div class="row mb-2">
                      <div class="col-6 ps-0">
                        <a id="readButton" href="/articleTemplate/3" class="btn btn-primary">Read more</a>
                      </div>
                      <div class="col-6 pt-2 text-end pe-3">
                        <p class="h5">25/07/23</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Add new car HERE -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

  <!-- importing local -->
  <script language="JavaScript" type="text/javascript" src="{{url_for('static', filename='js/news.js')}}">
  </script>

  <!-- IMPLEMENT CHATBOT HERE -->
  {% include 'components/chatbotWidget.html' %}

  {% include 'components/footer.html' %}

</body>

</html>