<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DolFin - News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/news.css')}}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&display=swap');
    </style>
  </head>
  <body>

      <div id="mainBody">
      
        <div id="headerSection" class="p-5">
          <h1 id="headerTitle" class="display-1 text-center ">Latest News</h1>
        </div>
      
        <svg id="rectangleDivider" width="100%" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="12" fill="#343A40" />
        </svg>
      </div>
      
      <div id="mainNewsColumns" class="container">
        <div class="row">
          <div class="col-sm">
              <div class="card border-0 shadow" style="width: 18rem;">
                <a id="articleLink" href="#">
                  <img class="card-img-top rounded-top" src="/static/img/fillerSquare.jpg">
                  <div class="card-body">
                    <h5 id="articleTitle" class="card-title">Article 1</h5>
                    <p id="articleText" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a id="readButton" href="#" class="btn btn-primary">Read more</a>
                  </div>
                </a>
              </div>
            <div id="columnSpace" class="card border-0 shadow" style="width: 18rem;">
              <a id="articleLink" href="#">
                <img class="card-img-top rounded-top" src="/static/img/fillerSquare.jpg">
                <div class="card-body">
                  <h5 id="articleTitle" class="card-title">Article 3</h5>
                  <p id="articleText" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a id="readButton" href="#" class="btn btn-primary">Read more</a>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm">
            <div class="card border-0 shadow" style="width: 18rem;">
              <a id="articleLink" href="#">
                <img class="card-img-top rounded-top" src="/static/img/fillerSquare.jpg">
                <div class="card-body">
                  <h5 id="articleTitle" class="card-title">Article 2</h5>
                  <p id="articleText" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a id="readButton" href="#" class="btn btn-primary">Read more</a>
                </div>
              </a>
            </div>
          </div>
          <div id="archiveColumn" class="col-sm">
            <h2 class="float-right">Archive</h2>
            <div id="archiveItems">
              <a id="archiveName" href="#">June</a>
              <hr class="solid" />
              <a id="archiveName" href="#">July</a>
              <hr class="hr" />
              <a id="archiveName" href="#">May</a>
              <hr class="hr" />
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>    
  </body>
</html>