<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DolFin - News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/news.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="mainBody">
      
        <div id="headerSection" class="p-5">
          <h1 id="headerTitle" class="display-1 text-center">Latest News</h1>
        </div>
      
        <svg id="rectangleDivider" width="100%" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="12" fill="#343A40" />
        </svg>
      </div>
      
      <div id="mainNewsColumns" class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card border-0" style="width: 18rem;">
              <img class="card-img-top rounded-top" src="/static/img/fillerSquare.jpg">
              <div class="card-body">
                <h5 class="card-title">Article 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a id="readButton" href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
            <div id="columnSpace" class="card border-0" style="width: 18rem;">
              <img class="card-img-top rounded-top" src="/static/img/fillerSquare.jpg">
              <div class="card-body">
                <h5 class="card-title">Article 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a id="readButton" href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card border-0" style="width: 18rem;">
              <img class="card-img-top rounded-top" src="/static/img/fillerSquare.jpg">
              <div class="card-body">
                <h5 class="card-title">Article 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a id="readButton" href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div id="archiveColumn" class="col-sm">
            <h2 class="float-right">Archive</h2>
            <p>June</p>
            <p>July</p>
            <p>May</p>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="389" height="660" viewBox="0 0 389 660" fill="none">
                  <path
                    d="M91.416 600.318C-77.4829 501.844 30.0213 183.721 93.4037 90.6466C156.786 -2.42753 349.216 -53.2613 374.493 91.6562C399.77 236.574 385.582 503.431 372.505 601.327C359.429 699.224 186.787 655.922 91.416 600.318Z"
                    fill="#343A40" />
                </svg> -->
      
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <footer><p>Footer</p></footer>
  </body>
</html>