<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>DolFin - Password Updated</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
	<link href="{{url_for('static', filename='css/articles.css')}}" rel="stylesheet" type="text/css">
</head>

<body>

	{% include 'components/navbar.html' %}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Updated</title>
    </head>
    <body>
        {% if error_message1 %}
            <p style="color: red;">{{ error_message1 }}</p>
        {% endif %}
        {% if error_message2 %}
            <p style="color: red;">{{ error_message2 }}</p>
        {% endif %}
    
       <!--  <p>Current Password: {{ current_password }}</p>
        <p>New Password: {{ new_password }}</p>
        <p>Cornfirm New Password: {{ confirm_password }}</p>
        -->
    </body>
    </html>

    </br>
    <!-- IMPLEMENT CHATBOT HERE -->
    {% include 'components/chatbotWidget.html' %}
</div>
{% include 'components/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</div>
</body>

</html>