<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DolFin Sign In - MFA One Time Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <h1>Sign In - Enter your one time password from your authenticator</h1>
    <form method="POST" action="/signinmfa">
        {{ form.csrf_token }}
        {{ form.otp.label }} {{ form.otp() }}
        {{ form.submit() }}
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
</body>
</html>
