<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DolFin - Sign In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <h1>Please Sign In</h1>
    <form method="POST" action="/signin">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username() }}
        {% if form.username.errors %}
        <ul class="errors">
        {% for error in form.username.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <br>
        {{ form.password.label }} {{ form.password() }}
        <br>
        {{ form.submit() }}

    </form>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <br>
    <a class="btn btn-primary" href="/signup" role="button">Sign Up</a>
</body>
</html>
