<!DOCTYPE html>
<html>
<head>
    <title>Flask Survey Alert</title>
    <style>
        .alert-ribbon {
            background-color: #f44336;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .alert-ribbon a {
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="alert-ribbon">
        <p>Take our survey! <a href="{{ url_for('submit') }}">Click here</a>.</p>
    </div>
    <!-- Your other page content here -->
</body>
</html>