<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DolFin - Terms of Use</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/TermsOfUse.css')}}">


</head>

<body>

  {% include 'navbar.html' %}


  <div id="mainBody">

    <div id="headerSection" class="p-5">
      <h1 id="headerTitle" class="display-1 text-center">Terms of Use</h1>
    </div>

    <svg id="rectangleDivider" width="100%" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="100%" height="12" fill="#343A40" />
    </svg>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <div class="container-fluid w-75">

    <div class="pt-4 overflow-auto" style="margin: 0 auto;">
      <div class="card py-5 w-100 h-50 border-0" style="width: 18rem;">
        <div class="card-header dolfin-dark-bg-color rounded-top-4 ">
          <h3 class="card-title" style="text-align: left;color: white;">Terms of Use</h3>
          <h4 class="card-subtitle mb-2 text-light" style="color: white;">Last Updated: 27th August 2023</h4>
          <hr>
          <ul class="nav nav-tabs card-header-tabs custom-nav fs-5 justify-content-around">
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2 active" data-bs-toggle="tab" href="#terms1">Definitions</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms2">Summary of Service</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms3">Terms and Conditions</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms4">Account Security</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms5">Privacy and collection of data</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms6">Third-Party Services</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms7">Fees and Refunds</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms8">Applicable law</a>
            </li>
          </ul>
        </div>
        <div class="card-body custom tab-content card-body-fixed-height">
          <div class="tab-pane fade active show" id="terms1">

            <h4 style="margin-left:.25in;text-indent:-.25in"><span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
              </span>1. Definitions</h4>
            <p class="MsoNormal"><b><span style="font-family:Arial,sans-serif">&nbsp;</span></b></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span
                  style="font-family:Arial,sans-serif">Account</span></b><span style="font-family:Arial,sans-serif">
                refers to the customer’s account with
                DolFin.</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span style="font-family:Arial,sans-serif">Amazon
                  Cognito</span></b><span style="font-family:Arial,sans-serif"> refers to the
                cloud-based identity and access management service that DolFin uses to
                authenticate and authorise customers.</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span style="font-family:Arial,sans-serif">Basiq
                  API</span></b><span style="font-family:Arial,sans-serif"> refers to the API
                provided by Basiq that allows DolFin to access and share financial information
                from customer bank accounts.</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span
                  style="font-family:Arial,sans-serif">Company</span></b><span style="font-family:Arial,sans-serif">
                refers to DolFin.</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span
                  style="font-family:Arial,sans-serif">Customer</span></b><span style="font-family:Arial,sans-serif">
                refers to any individual or entity that
                uses DolFin.</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span
                  style="font-family:Arial,sans-serif">DolFin</span></b><span style="font-family:Arial,sans-serif">
                refers to the FinTech product offered
                by DolFin Pty Ltd ACN <span style="background:yellow">## ### ### ###</span> <b><span
                    style="background:yellow">[##Company name to be confirmed]</span></b>.</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span style="font-family:Arial,sans-serif">Open
                  Banking Regime</span></b><span style="font-family:Arial,sans-serif"> refers
                to the regulatory framework governing the sharing of financial information
                between financial institutions and third-party providers in Victoria,
                Australia.</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><b><span style="font-family:Arial,sans-serif">Service
                </span></b><span style="font-family:Arial,sans-serif">or<b> Services</b>
                refers to the services provided by DolFin, including but not limited to the
                ability to send and receive money, make payments, and track spending.</span></p>

            <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span></p>

          </div>
          <div class="tab-pane fade" id="terms2">
            <h4>2. Summary of Service</h4>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><b><span
                  style="line-height:107%;font-family:Arial,sans-serif">&nbsp;</span></b></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><b><span lang="EN-AU"
                  style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">Open
                  Banking in Australia:</span></b></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">Open
                banking is a concept that involves sharing customer financial data securely and
                efficiently between financial institutions and authorised third-party service
                providers through standardized application programming interfaces (APIs). The
                primary goal of open banking is to enhance competition, innovation, and
                consumer experience in the financial services sector. In Australia, open
                banking has been introduced as a regulatory initiative aimed at empowering
                consumers and promoting a more competitive financial landscape.</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><b><span lang="EN-AU"
                  style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">Purpose
                  of DolFin and its Alignment with Open Banking:</span></b></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">The
                purpose of DolFin aligns well with the principles of open banking in Australia.
                Here's how:</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F">1.<span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><b><span lang="EN-AU"
                  style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">Consolidation
                  of Disjointed Experience:</span></b><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white"> DolFin aims to consolidate the disjointed
                banking experience. In the context of open banking, this means that consumers
                can have a single interface where they can access and manage accounts and
                services from multiple financial institutions. This consolidation is
                facilitated by secure APIs that allow DolFin to connect to various banks and
                financial service providers, offering customers a comprehensive overview of their
                financial situation.</span></p>

            <p class="MsoListParagraphCxSpMiddle"><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F">2.<span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><b><span lang="EN-AU"
                  style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">User-Friendly
                  Interface:</span></b><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white"> The emphasis on a "user-friendly"
                platform suggests that DolFin is designed to make financial management more
                accessible and intuitive for users. Open banking APIs play a crucial role in
                enabling this ease of use by allowing DolFin to securely retrieve and present
                financial data from different sources in a coherent and understandable manner.</span></p>

            <p class="MsoListParagraphCxSpMiddle"><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F">3.<span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><b><span lang="EN-AU"
                  style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">Advanced
                  Features:</span></b><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white"> DolFin incorporates cutting-edge technology
                and features. In the context of open banking, advanced features could include
                personalized financial insights, predictive analysis, budgeting tools, and even
                AI-driven financial advisory services. These features are made possible by the
                access to detailed customer data provided through open banking APIs.</span></p>

            <p class="MsoListParagraphCxSpMiddle"><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F">4.<span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><b><span lang="EN-AU"
                  style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">Future
                  of Financial Banking:</span></b><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white"> DolFin is positioned as paving the way for the
                future of financial banking. Open banking is a fundamental part of this future,
                enabling innovations and collaborations that were previously challenging due to
                data silos. By embracing open banking, DolFin can integrate seamlessly with
                various financial institutions and fintech startups, bringing forth a more
                interconnected and innovative financial ecosystem.</span></p>

            <p class="MsoListParagraphCxSpMiddle"><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F">5.<span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><b><span lang="EN-AU"
                  style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">Compliance
                  and Security:</span></b><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white"> Open banking mandates robust security and
                compliance measures to protect customer data. DolFin, in its pursuit of a
                unified and advanced banking experience, would need to ensure it complies with
                the relevant regulations and implements stringent security protocols to
                safeguard customer information.</span></p>

            <p class="MsoListParagraphCxSpMiddle"><span lang="EN-AU" style="font-family:Arial,sans-serif;
                  color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span lang="EN-AU"
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">DolFin's
                purpose of consolidating the banking experience, providing a user-friendly
                interface, and embracing advanced features aligns well with the objectives of
                open banking in Australia. By leveraging open banking APIs, DolFin offers
                customers a holistic view of their finances, promote competition and
                innovation, and contribute to shaping the future landscape of financial
                banking.</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">&nbsp;</span></p>

            <p class="MsoListParagraphCxSpMiddle" style="margin-left:.25in"><span
                style="font-family:Arial,sans-serif;color:#1F1F1F;background:white">DolFin
                incorporates the use of the Basiq API and Amazon Cognito.</span></p>

          </div>
          <div class="tab-pane fade" id="terms3">
            <h4>3. Acceptance of Terms and Conditions</h4>
            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">By accessing or using the Services, the Customer agrees to be
                bound by these terms and conditions. If the Customer does not agree to these
                terms and conditions, they must not access or use the Services.</span></p>

            <h5>4. Services</h5>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">DolFin provides the Services to the Customer on an “as is” and
                “as available” basis. DolFin does not warrant that the Services will be
                uninterrupted or error-free. DolFin may, from time to time, modify or
                discontinue the Services, or any part of the Services, with or without notice
                to the Customer.</span></p>

            <h4>5. Eligibility</h5>
              <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">To use DolFin, you must be a resident of Australia, at least 18
                  years of age and have a valid Australian bank account that is enrolled in the
                  Open Banking Regime.</span></p>

              <h5 style="margin-left:.25in;text-indent:-.25in">6.<span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
                </span>Account Creation</h5>

              <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">To create an account, you must provide your name, date of birth,
                  Australian residential address, and Australian bank account details. You will
                  also be asked to create a password and to provide your consent for DolFin to
                  access your bank account information through the Basiq API.</span></p>

          </div>
          <div class="tab-pane fade" id="terms4">
            <h4>7. Account Security</h4>
            <h5 style="margin-left:.75in;text-indent:-.25in">a.<span
                style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
              </span>DolFin takes security seriously</h5>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.75in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">We use a variety of security measures to protect your personal
                information, including:</span></p>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
      normal"><span style="font:7.0pt Times New Roman">
                </span>i.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="font-weight:normal">Encryption: We encrypt all of your personal
                information when it is stored on our servers.</span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
      normal"><span style="font:7.0pt Times New Roman">
                </span>ii.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="font-weight:normal">Authentication: We require you to authenticate
                yourself before you can access your account.</span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
      normal"><span style="font:7.0pt Times New Roman">
                </span>iii.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="font-weight:normal">Malware protection: We use malware protection
                software to scan all of our traffic for malicious software.</span></h5>

            <h5 style="margin-left:.75in;text-indent:-.25in">b.<span
                style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
              </span>Protection of personal information</h5>

            <p class="MsoNormal" style="margin-bottom:7.5pt;margin-left:.75in;line-height:
      normal;background:white"><span lang="EN-AU" style="font-family:Arial,sans-serif;
      color:#1F1F1F">DolFin will take all reasonable steps to protect your personal
                information from unauthorized access, use, disclosure, modification, or
                destruction.</span></p>

            <h5 style="margin-left:.75in;text-indent:-.25in">c.<span
                style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
              </span>Customer responsibility</h5>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.75in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">You are responsible for keeping your account information secure.
                You should not share your password with anyone. If you believe that your
                account has been compromised, you should contact DolFin immediately.</span></p>

          </div>
          <div class="tab-pane fade" id="terms5">
            <h4>8. Privacy and collection of data</h4>
            <h5 style="margin-left:.75in;text-indent:-.25in">a.<span
                style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
              </span>DolFin takes security seriously</h5>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.75in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">We use a variety of security measures to protect your personal
                information, including:</span></p>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
      normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>i.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="font-weight:normal">Encryption: We encrypt all of your personal
                information when it is stored on our servers.</span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
      normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>ii.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="font-weight:normal">Authentication: We require you to authenticate
                yourself before you can access your account.</span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
      normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>iii.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="font-weight:normal">Malware protection: We use malware protection
                software to scan all of our traffic for malicious software.</span></h5>

            <h5 style="margin-left:.75in;text-indent:-.25in">b.<span
                style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
              </span>Protection of personal information</h5>

            <p class="MsoNormal" style="margin-bottom:7.5pt;margin-left:.75in;line-height:
      normal;background:white"><span lang="EN-AU" style="font-family:Arial,sans-serif;
      color:#1F1F1F">DolFin will take all reasonable steps to protect your personal
                information from unauthorized access, use, disclosure, modification, or
                destruction.</span></p>

            <h5 style="margin-left:.75in;text-indent:-.25in">c.<span
                style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
              </span>Customer responsibility</h5>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
      margin-left:.75in;background:white"><span style="font-family:Arial,sans-serif;
      color:#1F1F1F">You are responsible for keeping your account information secure.
                You should not share your password with anyone. If you believe that your
                account has been compromised, you should contact DolFin immediately.</span></p>

          </div>
          <div class="tab-pane fade" id="terms6">
            <h4>9. Third-Party Services</h4>
            <h5 style="margin-left:.75in;text-indent:-.25in"><span style="line-height:107%;
                color:#1F1F1F;font-weight:normal">a.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
                </span></span><span style="line-height:107%;color:#1F1F1F;font-weight:normal">DolFin
                uses a variety of third-party services, including:</span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
                normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>i.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span>Basiq
              API<span style="font-weight:normal">: DolFin uses the Basiq API to aggregate
                your bank account information.</span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="font-weight:
                normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>ii.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span>Amazon
              Cognito<span style="font-weight:normal">: DolFin uses Amazon Cognito to
                authenticate users.</span></h5>

            <h5 style="margin-left:.75in;text-indent:-.25in"><span style="line-height:107%;
                color:#1F1F1F;font-weight:normal">b.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
                </span></span><span style="line-height:107%;color:#1F1F1F;font-weight:normal">By
                using DolFin, you agree to be bound by the terms and conditions of these
                third-party services.</span></h5>

          </div>
          <div class="tab-pane fade" id="terms7">
            <h4>10. Service Fees</h4>
            <h5 style="margin-left:.75in;text-indent:-.25in"><span style="line-height:107%;
                  color:#1F1F1F;font-weight:normal">a.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
                </span></span><span style="line-height:107%;color:#1F1F1F;font-weight:normal">DolFin
                may charge fees for certain services. These fees will be disclosed to you
                before you use the service.</span></h5>

            <h5 style="margin-left:.75in;text-indent:-.25in"><span style="line-height:107%;
                  color:#1F1F1F;font-weight:normal">b.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;
                </span></span><span style="line-height:107%;color:#1F1F1F;font-weight:normal">DolFin
                charges a variety of fees, including:</span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="line-height:
                  107%;font-weight:normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>i.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="line-height:107%;font-weight:normal">Account aggregation fee: <span style="background:yellow">$5
                  per
                  month</span></span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="line-height:
                  107%;font-weight:normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>ii.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="line-height:107%;font-weight:normal">Budgeting fee: <span style="background:yellow">$10 per
                  month</span></span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span style="line-height:
                  107%;font-weight:normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>iii.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="line-height:107%;font-weight:normal">Bill pay fee: <span style="background:yellow">$5 per
                  month</span></span></h5>

            <h5 style="margin-left:1.25in;text-indent:-1.25in"><span lang="EN-AU"
                style="line-height:107%;color:#1F1F1F;font-weight:normal"><span
                  style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>iv.<span style="font:7.0pt Times New Roman">&nbsp;&nbsp;&nbsp; </span></span><span
                style="line-height:107%;font-weight:normal">Investing fee: <span style="background:yellow">1% of the
                  value of your
                  investments</span></span></h5>
            <h4>11. Refunds</h4>
            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:0in;text-indent:.25in;background:white"><span style="font-family:
                  Arial,sans-serif;color:#1F1F1F">DolFin does not offer refunds for any
                services to the extent applicable under Australian law.</span></p>

          </div>
          <div class="tab-pane fade" id="terms8">
            <h4>12. Limitation of Liability</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">To the fullest extent permitted by law, we disclaim all
                liability <span class="FooterChar">for any direct, indirect, incidental,
                  consequential, special, or punitive damages, including but not limited to
                  damages for loss of</span> profits, loss of revenue, loss of use, loss of data,
                or any other losses, arising out of or in connection with the use of or
                inability to use our services, whether based on a theory of contract, tort,
                negligence, strict liability, or otherwise, even if we have been advised of the
                possibility of such damages.</span></p>

            <h4>13. Applicable Law</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">These terms and conditions are governed by and construed in
                accordance with the laws of the s</span><span style="font-family:Arial,sans-serif;
                  color:black">tate of Victoria, Australia</span><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">, without regard to its conflict of laws provisions. Any dispute
                arising out of or relating to these terms and conditions shall be subject to
                the exclusive jurisdiction of the courts of the s</span><span style="font-family:
                  Arial,sans-serif;color:black">tate of Victoria, Australia</span><span
                style="font-family:Arial,sans-serif;color:#1F1F1F">.</span></p>

            <h4> 14. Changes to Terms and Conditions</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">DolFin may modify these terms and conditions from time to time.
                Any changes to these terms and conditions will be effective immediately upon
                posting on our website or application. You are responsible for reviewing these
                terms and conditions periodically to stay informed of any changes. Your
                continued use of the Services after any changes to these terms and conditions
                constitutes your acceptance of those changes.</span></p>

            <h4>15. Severability</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">If any provision of these terms and conditions is held to be
                invalid or unenforceable, such provision shall be struck from these terms and
                conditions and the remaining provisions shall remain in full force and effect.</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">16.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Entire Agreement</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">These terms and conditions constitute the entire agreement
                between you and us with respect to the subject matter hereof and supersede all
                prior or contemporaneous communications, representations, or agreements,
                whether oral or written.</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">17.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Waiver</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">No waiver of any provision of these terms and conditions will be
                effective unless in writing and signed by both parties.</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">18.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Termination</h4>

            <p class="MsoNormal">&nbsp;</p>

            <p class="MsoNormal" style="margin-left:.25in"><span style="font-family:Arial,sans-serif">DolFin
                may terminate your account at any time for any reason. You may also terminate
                your account at any time, subject to paying relevant Service Fees for the time
                you have used the Service.</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">19.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Notices</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">All notices and other communications under these terms and
                conditions will be in writing and will be deemed to have been duly given when
                delivered in person to DolFin, addressed as follows:</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><span style="font-family:Arial,sans-serif;
                  background:yellow">DolFin Pty Ltd</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><span style="font-family:Arial,sans-serif;
                  background:yellow">123 Deakin Street</span></p>

            <p class="MsoNormal" style="margin-left:.25in"><span style="font-family:Arial,sans-serif;
                  background:yellow">Melbourne, VIC 3000</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">20.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Headings</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">The headings in these terms and conditions are for convenience
                only and will not affect their interpretation.</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">21.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Governing Law</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">These terms and conditions will be governed by and construed in
                accordance with the laws of the State of Victoria, Australia, without regard to
                its conflict of laws provisions.</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">22.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Dispute Resolution</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">Any dispute arising out of or relating to these terms and
                conditions will be resolved by binding arbitration in accordance with the rules
                of the Australian Financial Industry Dispute Resolution Limited (AFSL). The
                arbitration will be held in Melbourne, Victoria, Australia, and the decision of
                the arbitrator will be final and binding on both parties.</span></p>

            <h4 style="margin-left:.25in;text-indent:-.25in">23.<span style="font:7.0pt Times New Roman">&nbsp;
              </span>Open Banking Regime</h4>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">DolFin is a participant in the Open Banking Regime in Australia.
                This means that DolFin is authorized to access and share financial information
                from your bank account with third-party providers.</span></p>

            <p class="MsoNormal" style="margin-top:.25in;margin-right:0in;margin-bottom:.25in;
                  margin-left:.25in;background:white"><span style="font-family:Arial,sans-serif;
                  color:#1F1F1F">By agreeing to these terms and conditions, you are consenting to
                the sharing of your financial information with third-party providers.</span></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>


  {% include 'footer.html' %}


</body>

</html>