<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Use of Artificial Intelligence Predictions in DolFin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/TermsOfUse.css')}}">


</head>

<body>

  {% include 'componets/navbar.html' %}


  <div id="mainBody">

    <div id="headerSection" class="p-5">
      <h1 id="headerTitle" class="display-1 text-center">Use of Artificial Intelligence Predictions in DolFin</h1>
    </div>

    <svg id="rectangleDivider" width="100%" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="100%" height="12" fill="#343A40" />
    </svg>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <div class="container-fluid w-75">

    <div class="pt-4 overflow-auto" style="margin: 0 auto;">
      <div class="card py-5 w-100 h-50 border-0" style="width: 18rem;">
        <div class="card-header dolfin-dark-bg-color rounded-top-4 ">
          <h3 class="card-title" style="text-align: left;color: white;">Disclaimer</h3>
          <h4 class="card-subtitle mb-2 text-light" style="color: white;">Last Updated: 12th September 2023</h4>
          <hr>
          <ul class="nav nav-tabs card-header-tabs custom-nav fs-5 justify-content-around">
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms1">Use of Artificial Intelligence
                Predictions in DolFin</a>
            </li>
            <li class="nav-item px-3 py-1">
              <a class="nav-link rounded-2" data-bs-toggle="tab" href="#terms2">Summary of AI capability</a>
            </li>
          </ul>
        </div>
        <div class="card-body custom tab-content card-body-fixed-height">
          <div class="tab-pane fade active show" id="terms1">
            <p> The DolFin application utilises artificial intelligence (AI) to provide predictions and insights
              regarding an individual's future financial position. It is important for users of the DolFin application
              to understand the limitations of these predictions and the necessity of seeking independent financial
              advice. </p>
            <h4> 1. Limited Accuracy </h4>
            <p> The AI model used by DolFin is designed to analyse open banking data and provide predictions based on
              historical and current financial information. However, it is important to note that these predictions are
              to be viewed as a guide and should not be considered indicative of the actual future financial position of
              the user. Financial markets and individual circumstances can change rapidly, and the AI model may not
              account for all variables.
            </p>
            <h4> 2. Not a Substitute for Independent Financial Advice </h4>
            <p> Users of the DolFin application should not rely solely on the AI-generated predictions when making
              financial decisions. The predictions provided by the application are not a substitute for professional
              financial advice. It is strongly recommended that users seek independent financial advice from a qualified
              Australian financial services adviser (an Australian financial services (AFS) licensee) before making any
              significant financial decisions, investments, or changes to financial strategies.
            </p>
            <h4> 3. User Responsibility </h4>
            <p> By using the DolFin application, users acknowledge their responsibility for their financial decisions.
              DolFin and its developers, including its AI model, provide information and predictions for informational
              purposes only. Users must exercise their own judgment and due diligence when making financial choices.
            </p>
            <h4> 4. No Liability </h4>
            <p> DolFin, its developers, and its AI model shall not be held liable for any financial losses, damages, or
              adverse consequences that may arise from the use of the application or reliance on its predictions. Users
              use the DolFin application at their own risk.
            </p>
            <h4> 5. Compliance with Applicable Laws </h4>
            <p> Users are responsible for ensuring that their use of the DolFin application complies with all applicable
              laws, regulations, and financial guidelines. This includes, but is not limited to, privacy laws and
              regulations governing financial advice and services.
            </p>
          </div>
          <div class="tab-pane fade" id="terms2">
            <p> The DolFin application is a tool to assist users in managing their finances. While the AI predictions
              can provide valuable insights, they should not be considered definitive financial advice. Users should
              always seek independent financial advice tailored to their individual circumstances before making
              significant financial decisions.
              By using the DolFin application, users agree to the terms and conditions outlined in this disclaimer.
              DolFin reserves the right to update or modify this disclaimer as needed.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>


  {% include 'components/footer.html' %}


</body>

</html>