<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-maximised-parent">
      <div class="dashboard-maximised">
        <div class="dashboard-maximised">
          <div class="dashboard-maximised">
            <div class="dashboard-maximised">
              <div class="group-child"></div>
              <div class="group-item"></div>
            </div>
            <div class="iconmonstr-user-circle-thin-2"></div>
          </div>
        </div>
        <img class="vector-icon" alt="" src="./public/vector.svg" />

        <img class="image-1-icon" alt="" src="./public/image-1@2x.png" />

        <img class="vector-icon1" alt="" src="./public/vector1.svg" />

        <div class="dashboard-parent">
          <div class="dashboard">Dashboard</div>
          <div class="insights">Insights</div>
          <div class="transactions">Transactions</div>
          <div class="messages">
            <p class="blank-line">Messages</p>
          </div>
          <div class="placeholder">Placeholder</div>
          <div class="settings">
            <p class="blank-line">Settings</p>
          </div>
          <div class="text">
            <p class="blank-line">&nbsp;</p>
          </div>
          <div class="logout">Logout</div>
          <div class="placeholder1">Placeholder</div>
        </div>
      </div>
      <div class="users-dashboard-parent">
        <div class="users-dashboard">User’s Dashboard</div>
        <div class="group-inner"></div>
        <div class="rectangle-div"></div>
        <div class="discover-category-wise">
          Discover category wise expenses for this month
        </div>
        <div class="group-child1"></div>
        <div class="group-child2"></div>
        <div class="group-child3"></div>
        <div class="discover-category-wise1">
          Discover category wise expenses for this month
        </div>
        <div class="saved-1800">
          Saved $ 1800, Save 200 more to reach growth
        </div>
        <div class="over-budget">3% OVER BUDGET</div>
        <div class="saved">1800/2000 SAVED</div>
        <div class="cash-flow-graph">Cash Flow Graph</div>
        <img class="image-3-icon" alt="" src="./public/image-3@2x.png" />

        <div class="over-budget1">3% OVER BUDGET</div>
        <div class="you-have-3">You have 3 upcoming Bills</div>
        <div class="due-for-electricity-container">
          <p class="blank-line">$ 268 Due for Electricity on 11/11/11</p>
          <p class="blank-line">$ 107 Due for Mock_Reason on 11/11/11</p>
          <p class="blank-line">$ 123 Due for Mock_Reason on 11/11/11</p>
        </div>
      </div>
    </div>
  </body>
</html>
